.recipes-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: row;
}
.search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button{
    background: lavender;
    border: none;
    padding: 10px 20px;
    color: gray;
  }

